<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta lang="zh-CN" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 网上冲浪指南</title>
    <link href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/gridlex/2.4.1/gridlex.min.css" rel="stylesheet" />
    <link href="~/dist/theme.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <script src="~/dist/commons.js"></script>
    @RenderSection("Styles", required: false)

</head>
<body>
    <div class="grid-center grid-noGutter">
        <div class="col-7_md-12_sm grid">
            @RenderBody()
        </div>
        <div class="col-3_md-12_sm grid-column side-container">
            @RenderSection("Sidebar", required: false)
        </div>
    </div>
    <div class="action-btn">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <script src="~/lib/zepto.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
